
<div class="col-lg-6 col-md-6 well">
    <div class="row">
        <div class="col-lg-6 col-md-6">
        <div id="syllabusState" style="height: 300px;"></div>
        </div><!-- .col-XXX-6 -->
        <div class="col-lg-6 col-md-6">
        <a href="#" class="btn btn-default btn-block hasSyllabusBtn">
            Published to Canvas<br>
            <span class="label label-success"><span class="hasSyllabusTotal">0</span> / <span class="usingSalsaTotal">0</span></span>
            <span class="label label-success hasSyllabusPer">0%</span>
        </a>
        <a href="#" class="btn btn-default btn-block noSyllabusBtn">
            Not Published to Canvas<br>
            <span class="label label-danger"><span class="noSyllabusTotal">0</span> / <span class="usingSalsaTotal">0</span></span>
            <span class="label label-danger noSyllabusPer">0%</span>
        </a>
        </div><!-- .col-XXX-6 -->
    </div><!-- .row -->
</div><!-- .well -->