
<div class="col-lg-6 col-md-6 well">
    <div class="row">
        <div class="col-lg-6 col-md-6">
        <div id="canvasUse" style="height: 300px;"></div>
        </div><!-- .col-XXX-6 -->
        <div class="col-lg-6 col-md-6">
        <a href="#" class="btn btn-default btn-block usingSalsaBtn">
            Using Salsa<br>
            <span class="label label-primary"><span class="usingSalsaTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-primary salsaUsagePercent">0%</span>
        </a>
        <a href="#" class="btn btn-default btn-block notUsingSalsaBtn">
            Not Using Salsa<br>
            <span class="label label-default"><span class="notUsingSalsaTotal">0</span> / <span class="grandTotal">0</span></span>
            <span class="label label-default notUsingSalsaPercent">0%</span>
        </a>
        </div><!-- .col-XXX-6 -->
    </div><!-- .row -->
</div><!-- .well -->