-if !existing_document? || existing_document_within_organization? || has_role("organization_admin") || params[:document_token]
  .container.text-left
    .row
      %h1 
        An existing SALSA has been located. What would you like to do?


    .row
      - relink_locals = {has_existing_document: has_existing_document}
      =render partial: "relink", locals: relink_locals

    - document_list_locals = { |
      links: [:view, :link, :template], |
      columns: [:links, :name, :dates, :lms_course_id], |
      classes: {template: "btn btn-primary pull-right", link: "btn btn-small btn-info course_select_links"}, |
      titles: {template: "Use as Template", link: "Link Course", view: "Preview"}, |
      course_id: @course_id, |
      relink: params[:relink] |
      } |
    - if @documents && allow_existing_salsas_for_new_courses
      .text-left.row
        %h3 My Documents
        = render partial: '/admin_documents/list', locals: document_list_locals
