
<%= render :partial => "organizations/breadcrumbs", locals: {organization: @organization} %>

<h1 class="page-header">
  Republish Documents
</h1>

<div id="organizationControl row">
  <div class="pull-right">
    <!-- Trigger the modal with a button -->
    <% if @allow_republish_btn %>
      <button id="republish_trigger" type="button" class="btn btn-success" data-toggle="modal" data-target="#republish">Republish All</button>
    <% else %>
      <button type="button" class="btn disabled">Republish All</button>
    <% end %>
  </div>
</div>


<div class="row">
  <span class="hidden invisible" id="republish_ids"><%= @republish_urls %></span>
  <span class="hidden invisible" id="update_lock_url"><%= @update_lock_url %></span>

<%= render 'preview' %>

</div>
